<table class="admin-orders">
  <tr>
    <th>Id</th>
    <th>Status</th>
    <th>Id produktów</th>
    <th>Ulica</th>
    <th>Nr</th>
    <th>Piętro</th>
    <th>Miasto</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Tel.</th>
    <th>Email</th>
    <th></th>
  </tr>
  <tr *ngFor="let order of orders">
    <td>{{order.id}}</td>
    <td *ngIf="order.status === 'accepted'">Przyjęte</td>
    <td *ngIf="order.status === 'delivered'">Dostarczone</td>
    <td *ngIf="order.status === 'send'">Wysłane</td>
    <td>{{order.dishIds}}</td>
    <td>{{order.street}}</td>
    <td>{{order.flat}}</td>
    <td>{{order.floor}}</td>
    <td>{{order.city}}</td>
    <td>{{order.lastName}}</td>
    <td>{{order.firstName}}</td>
    <td>{{order.telephone}}</td>
    <td>{{order.email}}</td>
    <td>
      <button (click)="showOrder(order)">Podgląd</button>
    </td>
  </tr>
</table>

<table class="orderToShow" *ngIf="orderToShow">
  <tr>
    <th>Id</th>
    <th>Status</th>
    <th>Nazwy produktów</th>
    <th>Ulica</th>
    <th>Nr</th>
    <th>Piętro</th>
    <th>Miasto</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Tel.</th>
    <th>Email</th>
    <th></th>
  </tr>
  <tr>
    <td>{{orderToShow.id}}</td>
    <td *ngIf="orderToShow.status === 'accepted'">Przyjęte</td>
    <td *ngIf="orderToShow.status === 'delivered'">Dostarczone</td>
    <td *ngIf="orderToShow.status === 'send'">Wysłane</td>
    <td><div *ngFor="let dish of dishes">{{dish.name}}</div></td>
    <td>{{orderToShow.street}}</td>
    <td>{{orderToShow.flat}}</td>
    <td>{{orderToShow.floor}}</td>
    <td>{{orderToShow.city}}</td>
    <td>{{orderToShow.lastName}}</td>
    <td>{{orderToShow.firstName}}</td>
    <td>{{orderToShow.telephone}}</td>
    <td>{{orderToShow.email}}</td>
    <td>
      <button (click)="changeStatusToAccept()">Przyjęto</button>
      <button (click)="changeStatusToSend()">Wysłane</button>
      <button (click)="changeStatusToDelivered()">Dostarczono</button>
    </td>
  </tr>
</table>
