<div style="text-align:center">
  <nav>
    <button [routerLink]="['/dishes', 'pizza']">Pizza</button>
    <button [routerLink]="['/dishes', 'spagetti']">Makarony</button>
    <button [routerLink]="['/dishes', 'drink']">Napoje</button>
  </nav>
  <section>
    <article id="order">
      Twoje zamówienie
      <app-order></app-order>
    </article>
    <article id="dishes" *ngIf="!orderService.isOrderFinished">
      <app-dishes></app-dishes>
    </article>
    <article id="order-summary" *ngIf="orderService.isOrderFinished">
      <app-order-summary></app-order-summary>
    </article>
  </section>
</div>
