header {
  background-color: red;
}

header > h1 {
  color: white;
  padding-bottom: 5px;
}

nav {
  display: flex;
  justify-content: center;
}

nav > button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  color: white;
  background-color: gray;
}

section {
  display: flex;
  justify-content: center;
}

#order {
  background-color: lightgray;
  margin-right: 3px;
}

#dishes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 3px;
}

#order-summary {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
