header {
  background-color: red;
  display: flex;
  justify-content: space-between;
}

header button {
  background-color: red;
  color: white;
  border: 0;
}

header button:hover {
  color: aqua;
}

header > h1 {
  color: white;
  padding-bottom: 5px;
}

nav {
  display: flex;
  justify-content: center;
}

nav > button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  color: white;
  background-color: gray;
}

section {
  display: flex;
  justify-content: space-around;
}

#order {
  background-color: lightgray;
}

#dishes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
